

@keyframes  slider1{
      from {
            transform: translate(-30vw, 0);
      }
}

@keyframes  slider2{
      from {
            transform: translate(-60vw, 0);
      }
}

@keyframes  slider3{
      from {
            transform: translate(-90vw, 0);
      }
}

@keyframes  slider4{
      from {
            transform: translate(-120vw, 0);
      }
}



body {
      padding: 0;
      margin: 0;
}
.wrapper {
      width: 100vw;
      overflow: hidden;
}
.app {
      height: 200px;
      width: 130vw;
      position: relative;
      white-space: nowrap;
}
.container {
      display: inline-block;
      width: 20vw;
      height: 200px;
      background: rgb(0, 183, 255);
      margin-left: 10vw;
      opacity: 0.7;
      text-align: center;
      font-size: 32px;
      transition: transform 0.95s ease;
}
.active {
      opacity: 1
}

.containerChanger {
      position: absolute;
      top: 0;
      width: 40vw;
      height: 200px;
      color: white;
}
.nextElement {
      cursor:  url(gl117.png), auto;
      left: 0;
}
.previousElement {
      cursor:  url(gl117.png), auto;
      right: 0;
}

.hide {
      visibility: hidden;
}




.addAnimation.container1 {
      animation-name: slider1;
      animation-duration: 0.95s;
      transition: none;
}

.addAnimation.container2 {
      animation-name: slider2;
      animation-duration: 0.95s;
      transition: none;
}

.addAnimation.container3 {
      animation-name: slider3;
      animation-duration: 0.95s;
      transition: none;
}

.addAnimation.container4 {
      animation-name: slider4;
      animation-duration: 0.95s;
      transition: none;
}

